---
run:
  runMode: dev
  logLevel: warn
  logPath: log/arkor
http:
  listenMode: http
  httpsCertFile: cert/containerops/containerops.crt
  httpsKeyFile: cert/containerops/containerops.key
sqldatabase:
  mode: normal
  driver: mysql
  username: root
  password: wang
  protocol: tcp
  host: 127.0.0.1
  port: 3306
  schema: arkor
kvdatabase:
  driver: redis
  username: root
  password: containerops
  protocol: tcp
  host: 127.0.0.1
  port: 6379
  partition: 8
